//<МИКСИНЫ>===============================================================================================
@import "mixins.scss";
//</МИКСИНЫ>===============================================================================================

//<ШРИФТЫ>===============================================================================================

//<Подключаем шрифты>=======================================================================================
@font-face {
	src: url("../fonts/AvenirNextCyr-Regular.eot");
	src: local("../Avenir Next Cyr Regular"), local("AvenirNextCyr-Regular"),
		url("../fonts/AvenirNextCyr-Regular.eot?#iefix") format("embedded-opentype"),
		url("../fonts/AvenirNextCyr-Regular.woff2") format("woff2"),
		url("../fonts/AvenirNextCyr-Regular.woff") format("woff"),
		url("../fonts/AvenirNextCyr-Regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "Avenir Next Cyr";
	src: url("../fonts/AvenirNextCyr-Demi.eot");
	src: local("Avenir Next Cyr Demi"), local("AvenirNextCyr-Demi"),
		url("../fonts/AvenirNextCyr-Demi.eot?#iefix") format("embedded-opentype"),
		url("../fonts/AvenirNextCyr-Demi.woff2") format("woff2"), url("../fonts/AvenirNextCyr-Demi.woff") format("woff"),
		url("../fonts/AvenirNextCyr-Demi.ttf") format("truetype");
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: "Avenir Next Cyr";
	src: url("../fonts/AvenirNextCyr-Light.eot");
	src: local("Avenir Next Cyr Light"), local("AvenirNextCyr-Light"),
		url("../fonts/AvenirNextCyr-Light.eot?#iefix") format("embedded-opentype"),
		url("../fonts/AvenirNextCyr-Light.woff2") format("woff2"), url("../fonts/AvenirNextCyr-Light.woff") format("woff"),
		url("../fonts/AvenirNextCyr-Light.ttf") format("truetype");
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: "Avenir Next Cyr";
	src: url("../fonts/AvenirNextCyr-Medium.eot");
	src: local("Avenir Next Cyr Medium"), local("AvenirNextCyr-Medium"),
		url("../fonts/AvenirNextCyr-Medium.eot?#iefix") format("embedded-opentype"),
		url("../fonts/AvenirNextCyr-Medium.woff2") format("woff2"),
		url("../fonts/AvenirNextCyr-Medium.woff") format("woff"),
		url("../fonts/AvenirNextCyr-Medium.ttf") format("truetype");
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: "Avenir Next Cyr";
	src: url("../fonts/AvenirNextCyr-BoldItalic.eot");
	src: local("Avenir Next Cyr Bold Italic"), local("AvenirNextCyr-BoldItalic"),
		url("../fonts/AvenirNextCyr-BoldItalic.eot?#iefix") format("embedded-opentype"),
		url("../fonts/AvenirNextCyr-BoldItalic.woff2") format("woff2"),
		url("../fonts/AvenirNextCyr-BoldItalic.woff") format("woff"),
		url("../fonts/AvenirNextCyr-BoldItalic.ttf") format("truetype");
	font-weight: bold;
	font-style: italic;
}
@font-face {
	font-family: "Gilroy";
	src: url("../fonts/Gilroy-SemiBold.eot");
	src: local("Gilroy SemiBold"), local("Gilroy-SemiBold"),
		url("../fonts/Gilroy-SemiBold.eot?#iefix") format("embedded-opentype"),
		url("../fonts/Gilroy-SemiBold.woff") format("woff"), url("../fonts/Gilroy-SemiBold.ttf") format("truetype");
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: "Agency FB";
	src: url("../fonts/Agency FB.eot");
	src: local("☺"), url("../fonts/Agency FB.woff") format("woff"), url("../fonts/Agency FB.ttf") format("truetype"),
		url("../fonts/Agency FB.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
//</Подключаем шрифты>=======================================================================================

//<Иконочные шрифты>==========================================================================================

//</Иконочные шрифты>==========================================================================================

//<Шрифт по умолчанию>==========================================================================================
$fontfamily: "Avenir Next Cyr";
//</Шрифт по умолчанию>==========================================================================================

//</ШРИФТЫ>=======================================================================================================

//<ПЕРЕМЕННЫЕ>===========================================================================================================
$minwidth: 320px;
$mw: 1440;
$md1: $mw + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;
//</ПЕРЕМЕННЫЕ>===========================================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
@import "null.scss";
body {
	color: #000;
	font-size: 14px;
	&.lock {
		overflow: hidden;
	}
}
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	&.loaded {
	}
}
//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
.container {
	max-width: $mw + px;
	margin: 0 auto;
	width: 100%;
	@media (max-width: $md1+px) {
		max-width: 970px;
	}
	@media (max-width: $md2+px) {
		max-width: 750px;
	}
	@media (max-width: $md3+px) {
		max-width: none;
		padding: 0 10px;
	}
}
//</ОСНОВНАЯ СЕТКА>===========================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================
@import "forms.scss";
@import "ui.scss";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
//@import "../../js/fancybox/jquery.fancybox.scss";
//@import "datepicker.scss";
//@import "fontawesome.scss";
//@import "popover.min.scss";
//@import "baguetteBox.scss";
//@import "pagging.scss";
//@import "icons.scss";
@import "popup.scss";
@import "header.scss";
@import "footer.scss";
@import "home.scss";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================

//<ОСНОВНОЙ БЛОК>====================================================================================================
.main-screen {
	background: url(/img/backgrounds/main_screen_bg.png);
	background-size: cover;
	background-position: top center;
	&__row {
		@include flexbox();
		&--top {
			padding: 176px 0px 0px 0px;
		}
		&--bottom {
			position: relative;
			padding: 125px 0px 0px 0px;
		}
	}
	&__column {
		&--top {
			flex: 0 0 50%;
		}
		&--bottom {
			position: relative;
			flex: 0 0 25%;
			text-align: center;
			cursor: pointer;
			&:hover .about-site {
				top: 19%;
				transition: all 0.8s ease 0s;
			}
		}
		&--content {
		}
		&--visual {
			img {
				max-width: 117%;
			}
		}
	}
	&__subtitle {
		font-weight: 300;
		font-size: 24px;
		line-height: 24px;
		&--gold {
			background: linear-gradient(180deg, #ffe5ac 0%, #ffe5ac 0.01%, #b99c5d 100%);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
		}
		&--white {
			color: #fff;
		}
	}
	&__title {
		font-size: 64px;
		line-height: 75px;
		color: #fff;
		margin: 15px 0px 25px 0px;
	}
	&__button {
		position: relative;
		width: 402px;
		height: 77px;
		margin: 70px 0px 0px 0px;
		&:after {
			content: url(/img/common/bullet_for_button.png);
			position: absolute;
			left: 85%;
			top: -23%;
		}
	}
	&__decor {
		position: absolute;
		top: 118%;
		left: -5%;
	}
}

.site {
	&__icon {
	}
	&__title {
		font-size: 16px;
		line-height: 20px;
		text-transform: uppercase;
		color: #ffffff;
		margin: 19px 0px 0px 0px;
	}
}
.about-site {
	position: absolute;
	background: #fff;
	border-radius: 10px;
	padding: 16px 18px 43px 18px;
	width: 95%;
	top: 100%;
	left: 50%;
	transform: translateX(-50%);
	transition: all 0.8s ease 0s;
	&__wrapper {
		width: 95%;
		position: absolute;
		top: -219%;
		pointer-events: none;
	}
	&__innerwrapper {
		min-height: 400px;
		position: relative;
		overflow: hidden;
	}
	&__icon {
	}
	&__title {
		font-size: 16px;
		line-height: 19px;
		text-transform: uppercase;
		color: #191919;
		margin: 12px 0px 27px 0px;
	}
	&__text {
		font-size: 14px;
		line-height: 16px;
		color: #191919;
	}
	&__link {
		display: inline-block;
		font-size: 12px;
		line-height: 14px;
		text-decoration-line: underline;
		color: #191919;
		margin: 26px 0px 0px 0px;
		pointer-events: auto;
	}
}

//====================================================================================================

//</ОСНОВНОЙ БЛОК>====================================================================================================
